

#about-hitotoki, #submit_your_hitotoki, #editorial_guidelines {
	width:465px;
	margin-right:30px;
	float:left;
	display:inline;
	margin-bottom:30px;
	}

#soapbox {
	width:250px;
	overflow: hidden;
	float:left;
	display:inline;
	}


#about-hitotoki p, #submit_your_hitotoki p, #editorial_guidelines p {
		font-family: "Hoefler Text", Georgia, serif;
		font-size: 1.8em;
		line-height: 1.556em;
		margin-bottom: .78em;
		color: #222;
		}
		
		#submit_your_hitotoki ul {
			list-style-position: outside;
			list-style-type: disc;
			margin-left: 20px;
		}
		
		#submit_your_hitotoki li {
			font-size: 1.8em;
			line-height: 1.556em;
			}

#editorial_guidelines ul {
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 20px;
	margin-bottom: 15px;
	}

#editorial_guidelines li {
	padding-left:28px;
	font-size: 1.6em; 
	background:url("../img/bullet-ast.gif") 8px 4px no-repeat; 
	}
	
#editorial_guidelines h3 {
	margin-bottom: 5px;
	font-size: 2em;
	font-weight: normal;
	}

#soapbox p {
			font-size: 1.2em;
			margin-top:0;
			padding-top:0;
			line-height: 1.56em;
			margin-bottom:1.56em;
			font-family: "Helvetica Neue", verdana, sans;
			}


#snailmail { float:left; width:250px; clear:both; display:inline; background:url("../img/about/packages.gif") 160px 30px no-repeat; margin-bottom:25px; padding-top: 12px !important; padding-bottom: 12px !important; border-top: 1px dotted #999; border-bottom:1px dotted #999;}

#email { float:left; width:240px; display:inline; background:url("../img/about/letters.gif") 0px 12px no-repeat; padding-left: 36px !important; padding-right:5px !important; padding-top:12px !important; margin-bottom:12px !important; border-top: 0px dotted #999;}


/* --- HEADERS --- */

h2#txt-the_word, h2#txt-the_site, h2#txt-our_fearless_editors, h2#txt-design_notes, h3#txt-editors_wanted, h2#txt-your_city, h2#txt-technical_hobbity_bobbity, h2#txt-the_basics, h3#txt-spread, h2#txt-feeds_feeds_feeds, h2#txt-hitotoki_editorial, h2#txt-hitotoki_worldwide {
	display: block;
	width: 400px;
	height: 30px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-indent: -3000px;
	overflow: hidden;
	}	

h3#txt-editors_wanted a {
	display: block;
	width:250px; 
	height: 30px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-indent: -3000px;
	overflow: hidden;	
	}
	
h2#txt-the_word { background: url("../img/about/txt-the_word.gif") 0px 10px no-repeat; }
h2#txt-the_site { display:inline; float:left; width:250px; background: url("../img/about/txt-the_site.gif") 0px 10px no-repeat; }
h2#txt-our_fearless_editors { background: url("../img/about/txt-our_fearless_editors.gif") 0px 10px no-repeat; }
h2#txt-design_notes { background: url("../img/about/txt-design_notes.gif") 0px 10px no-repeat; }
h2#txt-your_city { background: url("../img/about/txt-your_city.gif.html") 0px 10px no-repeat; }
h3#txt-editors_wanted { width:250px; background: url("../img/about/txt-e-editors_wanted.gif") 0px 10px no-repeat; }
h3#txt-spread { width:250px; background: url("../img/about/txt-spread_the_love.gif") 0px 10px no-repeat; }
h2#txt-technical_hobbity_bobbity { width:350px;background: url("../img/about/txt-technical_hobbity_bobbity.gif") 0px 10px no-repeat; }
h2#txt-the_basics { width:350px;background: url("../img/about/txt-the_basics.gif") 0px 10px no-repeat; }
h2#txt-feeds_feeds_feeds { width:350px; background: url("../img/about/txt-feeds_feeds_feeds.png") 0px 10px no-repeat; }
h2#txt-hitotoki_editorial { width:420px; background: url("../img/editorial/txt-editorial_agreement.gif") 0px 10px no-repeat; } 
h2#txt-hitotoki_worldwide { width:420px; background: url("../img/editorial/txt-hitotoki_worldwide.gif") 0px 10px no-repeat; } 

/* --- SIDE BAR --- */

.senden, .senden a	{
	float:left;
	display:inline;
	width:250px;
	height:80px;
	text-indent:-4000px;
	overflow: hidden;
	}

#gmb, #gmb a:link, #gmb a:visited { background: url("../img/about/senden-gmb.gif") 0px 0px no-repeat;}
#gmb a:hover { background: url("../img/about/senden-gmb.gif") 0px -80px no-repeat;}
#tab, #tab a:link, #tab a:visited { background: url("../img/about/senden-tab.gif") 0px 0px no-repeat;}
#tab a:hover { background: url("../img/about/senden-tab.gif") 0px -80px no-repeat;}
#facetime, #facetime a:link, #facetime a:visited { background: url("../img/about/senden-facetime.gif") 0px 0px no-repeat;}
#facetime a:hover { background: url("../img/about/senden-facetime.gif") 0px -80px no-repeat;}


#other-stuff { height:52px; width:250px; float:left; display:inline; overflow: hidden; text-indent: -4000px; background: url("../img/about/txt-other_stuff.gif") 0px 12px no-repeat; border-top:0px dotted #999; margin-bottom:12px;}

#txt-hitotoki_editorial { height:12px; width:250px; margin-top: 0px; float:left; display:inline; overflow: hidden; text-indent: -4000px; background: url("../img/about/txt-hitotoki_editorial.png") 0px 0px no-repeat; margin-bottom:12px;}



#concept, #submissions-call, #editors-wanted { 
	height: 140px;
	margin-bottom: 10px;
	width:750px;
	float:left;
	display:inline;
	overflow:hidden; 
	text-indent:-3000px; 
	}

#concept { 	
	background:url("../img/about/txt-hitotoki_is.gif") 2px 0px no-repeat; 
	}

#submissions-call {
	background:url("../img/about/txt-that_place.gif") 2px 0px no-repeat; 
	}

#editors-wanted {
	background:url("../img/editorial/txt-editors_wanted.gif") 2px 0px no-repeat; 
	}
	
	
#concept a {
	margin-top:70px;
	height:70px;
	float:left;
	display:inline;
	width:600px;
	margin-left:150px;
	overflow: hidden;
	text-indent: -3000px;
	}	

#downloads, #feed_list { background-color:#f3f3f3; border:1px solid #eaeaea; margin-left:0 !important; padding-top:12px; padding-bottom:12px; width:400px;}
	
#downloads li, #feed_list li {
	padding-left:20px;
	margin-left:12px;
	color:#999;
	text-transform: uppercase;
	font-size:1em;
	line-height: 2.8em;
	}
	
	#downloads li { background:url("../img/download-icon.gif") 0px 4px no-repeat; }
	
	#feed_list li { padding-left: 30  px; background:url("../img/about/rss_icon_small.gif") 0px 6px no-repeat; }

#downloads li a, #feed_list li a {	
	font-variant: normal;
	text-transform: none;
	padding-right: 5px;
	font-size:1.8em;
	}	
	
#submissions_basics {
	margin-top:0;
	padding-top:0;
	margin-left:0 !important; 
	}
	
#submissions_basics li {
	padding-left:28px;
	background:url("../img/bullet-ast.gif") 8px 7px no-repeat; 
	}
	
#about-sponsor {
	float:left; width:200px; height:60px; display:inline; background:url("../img/dollar-yen.gif") 0px 12px no-repeat; padding-left: 47px !important; padding-right:5px !important; padding-top:12px !important; margin-top:24px;  margin-bottom:12px !important; border-top: 1px dotted #999;
	}
	
	textarea
			{
			width: 250px;
			display:inline;
			float:left;
			font-size:1.2em;
			padding-top:.2em;
			padding-left:.2em;
			border: 1px solid #888;
			background: transparent url("../img/form_off_bg.gif") top left no-repeat;
			margin-bottom:16px;
			}

	textarea:focus 
			{
		border: 1px solid #555;
		background: transparent url("../img/form_bg.gif") top left no-repeat;
			}
			
	.badge
	{width:250px; float:left; display:inline; margin-bottom:8px;}	